<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="container">
        <h1>Vista de productos</h1>
        
        <% if (productsAvailable) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Foto</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (products) { %>
                        <% products.forEach( product => { %>
                            <tr>
                                <th scope="row"><%= product.id %></th>
                                <td><%= product.title %></td>
                                <td><%= product.price %></td>
                                <td><img src="<%=product.thumbnail%>" class="img-thumbnail" width="50" /></td>
                            </tr>
                        <% }); %>
                    <% } else if (product) { %>
                        <tr>
                            <th scope="row"><%= product.id %></th>
                            <td><%= product.title %></td>
                            <td><%= product.price %></td>
                            <td><img src="<%=product.thumbnail%>" class="img-thumbnail" width="50" /></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% } else { %>
            <div class="alert alert-warning" role="alert">
                No se encontraron productos
            </div>
        <% } %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>